.App {
  text-align: center;
}

.fighters-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  /* width: 600px; */
}

.fighters-grid div {
  transition: transform 0.3s;
}

.fighters-grid div:hover {
  transform: scale(1.07);
}